# Exploratory: Check column null percentage

Summary: <br>
This notebook is used to explore the SDG&E weather station data that was extracted via Synopic API.

Open Questions: <br>

In [1]:
import pandas as pd

### Read in data

In [2]:
%%time
weather_df = pd.read_csv("../../data/raw/weather_sdge.csv", header=[0, 1])

CPU times: user 54.2 s, sys: 13.7 s, total: 1min 7s
Wall time: 1min 8s

### Calculate attribute null percentage

In [3]:
rows = weather_df.shape[0]
weather_df.shape

(45797111, 23)

In [4]:
%%time
pd.DataFrame(weather_df.isna().sum() / rows * 100, columns=["null_percentage"])

CPU times: user 14.9 s, sys: 557 ms, total: 15.5 s
Wall time: 15.5 s

                                                   null_percentage
Station_ID                     Unnamed: 0_level_1         0.000000
Date_Time                      Unnamed: 1_level_1         0.000000
air_temp_set_1                 Celsius                    0.318103
relative_humidity_set_1        %                          0.280882
wind_speed_set_1               m/s                        0.029757
wind_direction_set_1           Degrees                    4.179626
wind_gust_set_1                m/s                        0.024185
volt_set_1                     volts                     63.005819
solar_radiation_set_1          W/m**2                    98.297144
dew_point_temperature_set_1d   Celsius                    0.322815
wind_chill_set_1d              Celsius                   98.413854
wind_cardinal_direction_set_1d code                       4.179626
heat_index_set_1d              Celsius                   89.413195
altimeter_set_1                Pascals                  100.000000
pressure_set_1                 Pascals                  100.000000
pressure_set_1d                Pascals                  100.000000
sea_level_pressure_set_1d      Pascals                  100.000000
                               Pascals.1                100.000000
wet_bulb_temperature_set_1d    Celsius                  100.000000
altimeter_set_1d               Pascals                  100.000000
precip_accum_ten_minute_set_1  Millimeters              100.000000
fuel_temp_set_1                Celsius                  100.000000
precip_accum_one_hour_set_1    Millimeters              100.000000